{% extends 'base.html' %}

{% block content %}

<section class="hero">

    <h1>About Us</h1>

    <p>SECURING THE DIGITAL FUTURE</p>

</section>

<section class="services">

    <div class="card">
        <h2>Our Mission</h2>
        <p>
            SecureLynk exists to protect businesses and individuals
            from evolving cyber threats.
        </p>
    </div>

    <div class="card">
        <h2>Our Vision</h2>
        <p>
            A world where digital systems remain safe,
            private, and resilient.
        </p>
    </div>

    <div class="card">
        <h2>Our Team</h2>
        <p>
            Skilled cybersecurity professionals with expertise
            in modern digital defense.
        </p>
    </div>

</section>

{% endblock %}