{% extends 'base.html' %}

{% block content %}

<section class="hero">

    <h1>
        SecureLynk
    </h1>

    <p>
        CONNECTING SECURITY
    </p>

    <button>
        Get Protected
    </button>

</section>

<section class="services">

    <div class="card">

        <h2>
            Network Security
        </h2>

        <p>
            Protect infrastructure.
        </p>

    </div>

    <div class="card">

        <h2>
            Threat Detection
        </h2>

        <p>
            Monitor cyber threats.
        </p>

    </div>

    <div class="card">

        <h2>
            Cloud Protection
        </h2>

        <p>
            Secure cloud systems.
        </p>

    </div>

</section>

{% endblock %}